body {
  background-color: linen;
  color:rgb(87, 99, 65);
  font-family:Arial, Helvetica, sans-serif;
  margin: auto;
  width: 60%;
  max-width: 960px;
}

h1 {
  color:rgb(0, 68, 0);
}

.container{
    display: flex;
    gap: 40px;
    
}

img {
    height: 220px;
    padding-right: 40px;
}

h2 {
  color:rgb(0, 68, 0);
  text-align:center;
}


ul {
   margin: auto;
   max-width: 500px;
}

a {
  color: rgb(0, 68, 0);
}